version: "3.9"
services:
  web:
    image: ghcr.io/savedgenesis/savedgenesisdev:latest
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    ports:
      - "127.0.0.1:3000:3000"


